<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory suffix="Test.php">./tests/Unit/DTOs</directory>
            <directory suffix="Test.php">./tests/Unit/Exceptions</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/DvbServiceProvider.php</file>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DVB_API_KEY" value="HMSHLvJ2N6cpz6elvx4AbykfnS0qzZw7JqnQVqabUP7tqXCSRnMoNFiscOkO4W8M"/>
        <env name="DVB_API_DOMAIN" value="dev-epoch.nft-investment.io"/>
        <env name="DVB_API_PROTOCOL" value="https"/>
    </php>
</phpunit>